<div id="movie-details">
<img src="{{movieDetails.image}}" alt="{{movieDetails.title}} cartel">

<div id="content">
<a href="/movies/">Go back</a>
<h2>{{movieDetails.title}}</h2>
<h3>{{movieDetails.director}}</h3>
<h4>Stars</h4>
<ul>
    {{#each movieDetails.stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{movieDetails.description}}</p>
{{#each movieDetails.showtimes}}
    <span>{{this}} |<span>
    {{/each}}
    </div>

</div>
